<!-- wp:template-part {"slug":"header","theme":"newschannelbd","area":"header"} /-->

<!-- wp:group {"className":"ncbd-content-area","layout":{"type":"constrained","contentSize":"1280px"}} -->
<div class="wp-block-group ncbd-content-area"><!-- wp:post-title {"level":1,"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"margin":{"bottom":"0","top":"0","left":"0","right":"0"}}}} /-->

    <!-- wp:post-content /--></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"63px"} -->
    <div style="height:63px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:template-part {"slug":"footer","theme":"newschannelbd","area":"footer"} /--> 