<!-- wp:template-part {"slug":"header","theme":"newschannelbd","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1280px"}} -->
<div class="wp-block-group">
    <!-- wp:post-title {"level":1,"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"margin":{"bottom":"0","top":"0","left":"0","right":"0"}}}} /-->

    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph -->
        <p>Posted by:</p>
        <!-- /wp:paragraph -->

        <!-- wp:post-author-name {"isLink":true} /-->

        <!-- wp:paragraph -->
        <p>on</p>
        <!-- /wp:paragraph -->

        <!-- wp:post-date {"isLink":true} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
        <!-- wp:post-featured-image {"aspectRatio":"auto","width":"","scale":"fill","align":"wide","style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content /-->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"63px"} -->
<div style="height:63px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","wideSize":"1280px"}} -->
<div class="wp-block-group"><!-- wp:heading -->
    <h2 class="wp-block-heading">সর্বশেষ সংবাদ</h2>
    <!-- /wp:heading -->

    <!-- wp:latest-posts {"postsToShow":4,"displayAuthor":true,"displayPostDate":true,"postLayout":"grid","columns":4,"displayFeaturedImage":true,"featuredImageAlign":"left","featuredImageSizeWidth":100,"featuredImageSizeHeight":100,"addLinkToFeaturedImage":true} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"newschannelbd","area":"footer"} /-->